.modal-container {
  height: 100vh;
  width: 100%;
  /* Ocupar toda a tela */
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  /* position: acima da tela */
  z-index: 3;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal {
  background-color: #faf6ed;
  padding: 40px;
  border: 10px solid #fb5;
  box-shadow: 0 0 3px 10px #faf6ed;
  position: relative;
  min-width: 400px;
}

.modal-container.ativo {
  display: flex;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0px, -20px, 0px);
  }

  to {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

.ativo .modal {
  animation: modal 0.5s forwards;
}

.close {
  top: -30px;
  right: -30px;
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 50%;
  background-color: #e54;
  position: absolute;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
  color: white;
  font-family: "IBM Plex Mono", "monospace";
  cursor: pointer;
}

.modal label {
  font-family: "IBM Plex Mono", "monospace";
  font-weight: bold;
  display: block;
  margin: 1rem 0 0.5rem 0;
}

.modal input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.7rem 0.5rem;
}

.modal button[type="submit"] {
  display: block;
  background-color: #e54;
  border: none;
  border-radius: 4px;
  padding: 0.7rem 1.3rem;
  margin-top: 1rem;
  font-family: "IBM Plex Mono", "monospace";
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
}
